@model IdentityDemo.ViewModels.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Form</title>
    <link href="~/css/custom_css/logincss.css" rel="stylesheet" />
</head>
<body>
    <div class="login-container">
        <h2>Login</h2>
        <form asp-action="Login" asp-controller="Account" method="post">
            @Html.AntiForgeryToken()
            <label asp-for="UserName">User Name:</label><br>
            <input asp-for="UserName" type="text" id="username" name="username"><br>
            <label asp-for="Password">Password:</label><br>
            <input asp-for="Password" type="password" id="password" name="Password">
            <div class="show-password-row">
                <input type="checkbox" id="show-password" name="show-password">
                <label for="show-password">Show Password</label>
            </div>
            <button type="submit">SIGN IN</button>
            <p><a href="@Url.Action("ForgotPassword", "Account")">Forgot Password?</a></p>
            <p>Don't have an account? <a href="@Url.Action("Register", "Account")">Register</a></p>
        </form>
    </div>

    <script>
        const passwordInput = document.getElementById('password');
        const showPasswordCheckbox = document.getElementById('show-password');

        showPasswordCheckbox.addEventListener('change', function () {
            if (showPasswordCheckbox.checked) {
                passwordInput.type = 'text';
            } else {
                passwordInput.type = 'password';
            }
        });
    </script>
</body>
</html>
