@model IdentityDemo.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>

    <link rel="stylesheet" href="~/css/download_css/5_2_3_bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/download_css/5_15_3_all.min.css" />
    <link rel="stylesheet" href="~/plugins/fontawesome-free/css/all.min.css">

    <style>
        body {
            font-family: Arial, sans-serif;
            background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url("/img/bg.jpg");
            height: 100vh;
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0;
            background-size: cover;
            background-position: center;

        }

        .card {
            width: 100%;
            max-width: 600px;
            margin: 0 auto; /* Center the card horizontally */
            background-color: #fff;
            border-radius: 10px;
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
            transition: transform 0.2s ease-in-out;
        }

            .card:hover {
                transform: translateY(-5px);
            }

        .buttonreg {
            width: 150px;
            height: 45px;
            background-color: #4CAF50;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .buttonreg:hover {
                background-color: #45a049;
            }

        .buttonlogin {
            width: 100px;
            height: 45px;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-body">
                        <h2 class="text-center" style="font-size: 1.8em; margin-bottom: 15px;">
                            Register
                        </h2>
                        <form asp-controller="Account" asp-action="Register" method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <div class="form-group row mb-3">
                                <label asp-for="UserName" class="col-sm-3 col-form-label">User Name*</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" asp-for="UserName" id="nameInput" />
                                    <span asp-validation-for="UserName" class="text-danger" id="nameInputValidationMessage"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label asp-for="Email" class="col-sm-3 col-form-label">Email*</label>
                                <div class="col-sm-9">
                                    <input type="email" class="form-control" asp-for="Email" id="emailInput" />
                                    <span asp-validation-for="Email" class="text-danger right-margin" id="emailInputValidationMessage"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label asp-for="PhoneNumber" class="col-sm-3 col-form-label">Phone Number*</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" asp-for="PhoneNumber" pattern="[0-9]*" id="phoneInput" />
                                    <span asp-validation-for="PhoneNumber" class="text-danger right-margin" id="phoneInputValidationMessage"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label asp-for="Address" class="col-sm-3 col-form-label">Address<small class="form-text text-muted">(optional)</small></label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" asp-for="Address" id="addressInput" />
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label asp-for="Password" class="col-sm-3 col-form-label">Password*</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="password" class="form-control" asp-for="Password" id="passwordInput" />
                                        <span class="input-group-text" id="togglePassword"><i class="fas fa-eye-slash"></i></span>
                                    </div>
                                    <span asp-validation-for="Password" class="text-danger" id="passwordInputValidationMessage"></span>
                                </div>
                            </div>
                            <div class="form-group row mb-3">
                                <label asp-for="ConfirmPassword" class="col-sm-3 col-form-label">Confirm Password*</label>
                                <div class="col-sm-9">
                                    <div class="input-group">
                                        <input type="password" class="form-control" asp-for="ConfirmPassword" id="confirmPasswordInput" />
                                        <span class="input-group-text" id="toggleConfirmPassword"><i class="fas fa-eye-slash"></i></span>
                                    </div>
                                    <span asp-validation-for="ConfirmPassword" class="text-danger" id="confirmPasswordInputValidationMessage"></span>
                                </div>
                            </div>
                            <div class="form-group d-flex justify-content-end">
                                <a href="@Url.Action("Login", "Account")" class="btn buttonlogin">Login</a>
                                <button type="submit" class="btn buttonreg ml-2">Register</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="~/js/ValidForm.js"></script> <!-- Your existing JavaScript file -->
    <script>
        // JavaScript for toggling password visibility
        function togglePasswordVisibility(inputId, iconId) {
            const passwordInput = document.getElementById(inputId);
            const icon = document.getElementById(iconId);
            if (passwordInput.type === "password") {
                passwordInput.type = "text";
                icon.querySelector('i').classList.remove("fa-eye-slash");
                icon.querySelector('i').classList.add("fa-eye");
            } else {
                passwordInput.type = "password";
                icon.querySelector('i').classList.remove("fa-eye");
                icon.querySelector('i').classList.add("fa-eye-slash");
            }
        }

        // Toggle visibility for the password field
        document.getElementById('togglePassword').addEventListener('click', function (e) {
            togglePasswordVisibility('passwordInput', 'togglePassword');
        });

        // Toggle visibility for the confirm password field
        document.getElementById('toggleConfirmPassword').addEventListener('click', function (e) {
            togglePasswordVisibility('confirmPasswordInput', 'toggleConfirmPassword');
        });
    </script>
    <script src="~/js/download_js/3_5_1_jquery.min.js"></script>
    <script src="~/js/download_js/5_2_3_bootstrap.bundle.min.js"></script>
</body>
</html>
