@model IdentityDemo.ViewModels.RegisterViewModel
@{
    ViewData["Title"] = "Register";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"]</title>
    
    <link href="~/css/download_css/4_5_3_bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/download_css/5_15_3_all.min.css" rel="stylesheet"/>
    

    
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #a2d5c6; /* Mint green background */
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
        }

        .container{
            background-color: #ffffff;
            padding: 20px 30px; /* Adjust padding for a shorter height */
            border-radius: 12px;
            box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Stronger shadow for modern look */
            width: 100%;
            max-width: 500px;
            text-align: center;
            transition: all 0.3s ease;
        }

        .container:hover {
                transform: translateY(-5px);
        }

        .container h2 {
            font-size: 1.8em; /* Slightly smaller for modern look */
            margin-bottom: 15px;
        }
        .github-label {
            font-size: 1em; /* Smaller font for modern look */
            display: block;
            text-align: left;
            margin-bottom: 5px; 
        }

        .github-input1 {
            width: calc(100% - 24px);
            height: 40px;
            margin-bottom: 15px;
            font-size: 1em;
            border: 1px solid #cccaca;
            border-radius: 4px;
            background-color: #f9f9f9;
            transition: border-color 0.3s ease;
        }
        .github-input {
            width: calc(100% - 24px);
            height: 40px;/* Adjusted width */
            padding: 10px;
            margin-bottom: 15px;
            font-size: 1em;
            border: 1px solid #cccaca;
            border-radius: 4px;
            background-color: #f9f9f9;
            transition: border-color 0.3s ease;
        }
            .github-input:focus {
                border-color: #4CAF50;
            }
        .github-btn {
            width: 40%;
            padding: 12px;
            margin-bottom: 15px;
            font-size: 1em;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            transition: background-color 0.3s ease;
        }

            .github-btn:hover {
                background-color: #45a049;
            }
        .github-login-key{
            margin-right: 25px;
        }

        .text-danger { 
            font-size: 1em;
            display: block;
            text-align: right;
            padding-right: 19px;
            margin-bottom: 5px;
            color: #dc3545;
        }
        .pwd-text-danger{
            font-size: 0.8em;
            display: block;
            text-align: left;
            color: #dc3545;
        }

        .form-check-label {
            font-weight: 400;
            color: #495057;
        }

        .logininreg {
            font-size: 1em;
            padding: 12px;
            margin-right: 20px;
            margin-bottom: 15px;
            color: #245016;
            text-decoration: none;
            transition: color 0.3s ease;
        }
        .logininreg:hover{
            color: #4CAF50;
        }
        .input-group{
            height: 100%;
            width: 100%;
        }
    </style>
</head>
<body>
    <div class="container">
        <h2 class="text-center">Register</h2>
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        <form asp-controller="Account" asp-action="Register" method="post">
            
            <div class="form-group">
                <label asp-for="UserName" class="github-label">User Name</label>
                <input type="text" class="form-control github-input" asp-for="UserName" id="nameInput" />
                <span asp-validation-for="UserName" class="text-danger" id="nameInputValidationMessage"></span>
            </div>
            <div class="form-group">
                <div class="d-flex justify-content-between">
                    <label asp-for="Email" class="github-label">Email</label>
                    <span asp-validation-for="Email" class="text-danger" id="emailInputValidationMessage"></span>
                </div>
                
                <input type="email" class="form-control github-input" asp-for="Email" id="emailInput" data-error-message="Sample@gmail.com" />
                
            </div>
            <div class="form-group">
                <div class="d-flex justify-content-between">
                    <label asp-for="PhoneNumber" class="github-label">Phone Number</label>
                    <span asp-validation-for="PhoneNumber" class="text-danger" id="phoneInputValidationMessage"></span>
                </div>
                
                <input type="text" class="form-control github-input" asp-for="PhoneNumber" pattern="[0-9]*" id="phoneInput" data-error-message="09-xxxxxxxxx" />
                
            </div>
            <div class="form-group">
                <div class="d-flex justify-content-between">
                    <label asp-for="Address" class="github-label">Address</label>
                    <span asp-validation-for="Address" class="text-danger" id="addressInputValidationMessage"></span>
                </div>
                
                <input type="text" class="form-control github-input" asp-for="Address" id="addressInput" />
               
            </div>
            <div class="form-group">
                <div class="d-flex justify-content-between"></div>
                <label asp-for="Password" class="github-label">Password</label>
                
                <div class="github-input1">
                    <div class="input-group">
                        <input type="password" class="form-control" asp-for="Password" id="passwordInput" data-error-message="At least one digit, one non-alphanumeric,capital and small letter and 6 characters" />
                        <span class="input-group-text" id="togglePassword"><i class="fas fa-eye-slash"></i></span>

                    </div>
                </div>
                <span asp-validation-for="Password" class="pwd-text-danger" id="passwordInputValidationMessage"></span>
               
            </div>

            <div class="form-group">
                <label asp-for="ConfirmPassword" class="github-label">Confirm Password</label>
                
                <div class="github-input1">
                    <div class="input-group">
                        <input type="password" class="form-control" asp-for="ConfirmPassword" id="confirmPasswordInput" />
                        <span class="input-group-text" id="toggleConfirmPassword"><i class="fas fa-eye-slash"></i></span>
                    </div>
                </div>
                
                <span asp-validation-for="ConfirmPassword" class="pwd-text-danger" id="confirmPasswordInputValidationMessage"></span>
            </div>
           
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-end github-login-key">
                        <a href="@Url.Action("Login", "Account")" class="logininreg">Sign In</a>
                        <button type="submit" class="btn btn-block github-btn" id="submitButton">SIGN UP</button>
                    </div>
                </div>
            </div>
        </form>

    </div>

    <script src="~/js/custom_js/ValidForm.js"></script> 
    <script>
        document.getElementById('phoneInput').addEventListener('input', function () {
            this.value = this.value.replace(/[^0-9]/g, ''); 
        });
        
        document.getElementById('togglePassword').addEventListener('click', function (e) {
            const passwordInput = document.getElementById('passwordInput');
            const type = passwordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            passwordInput.setAttribute('type', type);

            
            const icon = this.querySelector('i');
            icon.classList.toggle('fa-eye');
            icon.classList.toggle('fa-eye-slash');
        });

        // Toggle visibility for the confirm password field
        document.getElementById('toggleConfirmPassword').addEventListener('click', function (e) {
            const confirmPasswordInput = document.getElementById('confirmPasswordInput');
            const type = confirmPasswordInput.getAttribute('type') === 'password' ? 'text' : 'password';
            confirmPasswordInput.setAttribute('type', type);

            // Toggle the eye and eye-slash icon
            const icon = this.querySelector('i');
            icon.classList.toggle('fa-eye');
            icon.classList.toggle('fa-eye-slash');
        });


    </script>
    
    <script src="~/js/download_js/3_5_1_jquery.min.js"></script>
    <script src="~/js/download_js/4_5_3_bootstrap.min.js"></script>
    
</body>
</html>
