@model IdentityDemo.ViewModels.UpdateUserViewModel
@{
}
<form asp-action="UpdatePassword" asp-controller="Account" method="post">
                    <!--<form action="../../index.html" method="post">-->        
                        
                    <input asp-for="Sshow" type="hidden" value="1" />
                    <input asp-for="Sdate" type="hidden"/>
                    <input asp-for="Edate" type="hidden"  />
                    <input asp-for="Password" type="hidden"/>                 
                    
                    
                        <input asp-for="Sid" class="form-control" readonly />
                  </form>      