@model IdentityDemo.ViewModels.ShopViewModel
@{
    Layout = "_Owner_layout";
}
<script src="~/js/download_js/jquery-3.6.0.min.js"></script>
<script src="~/js/download_js/1_19_3_jquery.validate.min.js"></script>
<script src="~/js/download_js/3_2_12_jquery.validate.unobtrusive.min.js"></script>
<div class="container py-4">
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="card">
                <div class="card-header text-center">
                    <h2>Shop Update</h2>
                </div>
                <div class="card-body">
                    <form asp-action="UpdateShop" asp-controller="Shop" method="post" enctype="multipart/form-data" runat="server">
                        <input type="hidden" asp-for="ShopId" />
                        <img id="blah" class="image-preview" src="~/img/shop/eda9047e-7587-4d4e-a938-587e3b4c9121_homeimg2.jpg" alt="Preview Image" style="max-width: 100%; max-height: 200px; display: block; margin-top: 10px;" />
                        <!-- Image Preview Section -->
                        <div class="form-group row">
                            <label for="profileImage" class="col-sm-2 col-form-label">Shop Profile</label>
                            <div class="col-sm-10">
                                <input asp-for="ProfileImage" class="form-control-file" accept="image/*" type="file" id="imgInp" name="ProfileImage" onchange="previewImage(event)" />                                
                            </div>
                        </div>

                        <!-- Form Fields -->
                        <div class="form-group">
                            <label asp-for="ShopName">Name</label>
                            <input type="text" class="form-control" asp-for="ShopName" placeholder="Enter name">
                            <span asp-validation-for="ShopName" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ShopPhone">Phone</label>
                            <input type="text" class="form-control" asp-for="ShopPhone" placeholder="Enter Phone">
                            <span asp-validation-for="ShopPhone" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ShopEmail">Email</label>
                            <input type="text" class="form-control" asp-for="ShopEmail" placeholder="Enter Email">
                            <span asp-validation-for="ShopEmail" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ShopAddress">Address</label>
                            <input type="text" class="form-control" asp-for="ShopAddress" placeholder="Enter address">
                            <span asp-validation-for="ShopAddress" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ShopDescription">Description</label>
                            <input type="text" class="form-control" asp-for="ShopDescription" placeholder="Enter description">
                            <span asp-validation-for="ShopDescription" class="text-danger"></span>
                        </div>

                        <!-- Action Buttons -->
                        <div class="text-right">
                            <a href="@Url.Action("Owner_Index", "Shop")" class="btn btn-secondary mr-1" style="width: 130px;">Cancel</a>
                            <button type="submit" class="btn btn-primary" style="width: 130px;">Save</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="../../js/Updateshopvalidate.js"></script>
<script>
    document.getElementById('phoneInput').addEventListener('input', function () {
        this.value = this.value.replace(/[^0-9]/g, ''); // Replace any non-numeric characters with an empty string
    });

    function previewImage(event) {
        const imgInp = event.target;
        const file = imgInp.files[0];

        if (file) {
            const reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('blah').src = e.target.result;
            }
            reader.readAsDataURL(file);
        }
    }

</script>
 